ENABLE_APM=0
DATABASE_URL=mongodb://127.0.0.1:27017/wisdomhub-users
GATEWAY_JWT_TOKEN=e73f1ece5087b8a5ae33998952202202
JWT_TOKEN=f649f4bd58bcba407446b5d0d75e0e1c
NODE_ENV=development
API_GATEWAY_URL=http:/localhost:4000
RABBITMQ_ENDPOINT=amqp://wisdomhub:wisdomhubpass@localhost:5672
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=
REDIS_HOST=redis://localhost:6379
ELASTIC_SEARCH_URL=http://elastic:admin1234@localhost:9200
ELASTIC_APM_SERVER_URL=http://localhost:8200
ELASTIC_APM_SECRET_TOKEN=
